@media only screen and (min-width:320px) {
    #wrapp>header h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: calc(100vw/6);
        line-height: calc(100vw/6);
        margin: 0;
        padding: 0;
        opacity: 1;
        color: #ff0d;
        mix-blend-mode: lighten
    }

    main>section {
        padding: 3rem 0
    }

    h2 {
        font-size: var(--fs);
        line-height: var(--fs);
        padding-top: 0;
        margin-bottom: var(--fs)
    }

    #top {
        font-size: .80rem
    }

    #top nav li {
        margin-left: .75rem
    }

    #submenu-cv {
        display: none
    }

    .hero-porfoli {
        height: 65vh;
        background: linear-gradient(0deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .5)), url("../img/4.png");
        background-attachment: fixed;
        background-size: cover;
        background-position: top center
    }

    .hero-porfoli::before {
        mix-blend-mode: color-burn
    }

    #contacte #hero {
        background: url("../img/a1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 3rem 0
    }

    #contacte #hero::before {
        background: #333333;
        mix-blend-mode: multiply
    }

    #projectes article {
        margin-bottom: 1rem
    }

    .flexXL {
        display: block
    }

    .flexXL>* {
        margin-bottom: 1rem
    }

    #hola {
        padding-bottom: 1rem
    }

    #hola .untres {
        text-align: center
    }

    #hola .ilus {
        max-width: 60vw;
        margin: 2rem auto 2rem auto;
        border: 6px solid #fff;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5)
    }

    #aficions article {
        max-width: 70vw;
        margin-left: auto;
        margin-right: auto
    }

    #dades-personals {
        color: black
    }

    #dades-personals ul {
        padding: 0;
        list-style: none
    }
}

@media only screen and (min-width:485px) {
    #menu-cv {
        z-index: 5;
        background-color: #ff0;
        margin: 0;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .5)
    }

    h2 {
        font-size: var(--fsxl);
        line-height: var(--fsxl);
        margin-bottom: calc(var(--fsxl)/2)
    }

    #dades-personals h2 {
        margin-top: 0;
        margin-bottom: 0
    }
}

@media only screen and (min-width:768px) {
    main>section {
        padding: 4rem 0
    }

    @keyframes hero_porfoli {
        0% {
            background: linear-gradient(0deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .5)), url("../img/3.png");
            background-size: cover;
            background-position: center;
            background-attachment: fixed
        }

        20% {
            background: linear-gradient(0deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .5)), url("../img/2.png");
            background-size: cover;
            background-position: center;
            background-attachment: fixed
        }

        40% {
            background: linear-gradient(0deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .5)), url("../img/4.png");
            background-size: cover;
            background-position: center;
            background-attachment: fixed
        }

        60% {
            background: linear-gradient(0deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .5)), url("../img/mockup.jpg");
            background-size: cover;
            background-position: center;
            background-attachment: fixed
        }

        80% {
            background: linear-gradient(0deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .5)), url("../img/a1.png");
            background-size: cover;
            background-position: center;
            background-attachment: fixed
        }

        100% {
            background: linear-gradient(0deg, rgba(0, 0, 0, .25), rgba(0, 0, 0, .5)), url("../img/3.png");
            background-size: cover;
            background-attachment: fixed
        }
    }

    #hero::before {
        background: linear-gradient(#ff000033, #00000033, #00ff0033);
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        z-index: 3
    }

    .hero-porfoli {
        height: calc(70vh);
        animation-name: hero_porfoli;
        animation-iteration-count: infinite;
        animation-duration: 10s
    }

    .flexXL {
        display: flex;
        justify-content: space-between;
        gap: 2rem
    }

    #hola .flexXL,
    #projectes .flexXL {
        gap: 1rem
    }

    #experiencia .flexXL {
        justify-content: space-around
    }

    .dostres {
        flex-grow: 2;
        flex-shrink: 2;
        flex-basis: calc(200% / 3.3)
    }

    .untres {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: calc(100% / 3.3)
    }

    #cv #experiencia .intrawrap .flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 1;
        gap: 2rem
    }

    #cv #experiencia .intrawrap .flex section {
        flex-basis: 47%
    }

    #cv #formacio .intrawrap .flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 1;
        gap: 1%
    }

    #cv #formacio .intrawrap .flex section {
        flex-basis: 30%
    }

    #cv #formacio .intrawrap h3,
    #cv #formacio .intrawrap ul {
        margin: 0;
        padding: 0
    }

    #cv #formacio .intrawrap .flex section:last-child {
        flex-basis: 65%
    }

    #cv #competencies-digitals .intrawrap {
        column-count: 2
    }
}

@media only screen and (min-width:1024px) {
    header:has(#top) .supratop {
        width: 100%;
        z-index: 100
    }

    .flexXL {
        display: flex;
        justify-content: space-between;
        gap: 1rem
    }

    #aficions .flexXL {
        justify-content: space-around;
        gap: .1rem
    }

    #projectes article:nth-child(1) {
        rotate: 4deg;
        translate: 2rem 1rem
    }

    #projectes article:nth-child(2) {
        translate: 1.5rem 1rem
    }

    #projectes article:nth-child(3) {
        rotate: 0deg;
        translate: .3rem 1.5rem
    }

    #projectes article:nth-child(3) {
        rotate: 8deg
    }

    #cv h2 {
        font-size: 3rem;
        margin: 0;
        padding: 0
    }

    #cv .intrawrap {
        max-width: 100% !important;
        padding-top: 1rem;
        padding-left: 8rem;
        padding-right: 8rem
    }

    #cv #experiencia .flex {
        display: flex;
        flex-direction: row
    }

    #cv #experiencia .intrawrap .flex section {
        flex-basis: 46%
    }

    #cv #formacio .doscols {
        column-count: 2
    }

    #cv #competencies-digitals .intrawrap {
        column-count: 3
    }

    #menu-cv ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 1px solid black
    }

    #menu-cv ul li {
        flex-grow: 1;
        border-bottom: 0;
        border-right: 1px solid black
    }

    #menu-cv ul li:last-child {
        border-right: 0
    }

    #menu-cv ul li a {
        padding: .25rem 0
    }
}

@media only screen and (min-width:1440px) {
    body {
        font-size: 1.1rem
    }

    #top {
        font-size: .9rem
    }

    #cv #experiencia .intrawrap .flex section {
        flex-basis: 20%
    }
}

@media only screen and (min-width:1920px) {
    body {
        font-size: 1.2rem
    }

    #top {
        font-size: 1rem
    }
}

@media only screen and (max-width:484px) {
    #top {
        position: relative;
        display: block;
        height: auto;
        margin: 0;
        text-align: center;
        padding: 0 0 1rem 0;
        font-size: 1.5rem
    }

    #top nav {
        padding: .5rem 0;
        margin: 0
    }

    #top nav li {
        margin-left: 0
    }

    #logo img {
        position: relative;
        top: 0;
        max-width: 75vw;
        padding: 0;
        margin: 3rem 0 1rem 0
    }

    #menu-cv {
        display: none
    }

    ul {
        padding: 0;
        list-style: none
    }

    nav ul li {
        display: block;
        margin-top: 1rem;
        border-bottom: 1px solid grey;
        text-align: left;
        font-size: 1rem
    }

    nav ul li:last-child {
        border: none
    }

    nav a {
        padding: .75rem .75rem;
        display: block
    }

    nav ul:has(#submenu-cv) li {
        border: 0
    }

    nav ul li:has(#submenu-cv) {
        background: #ff0
    }

    nav ul li:has(#submenu-cv) a {
        color: #000
    }

    #submenu-cv {
        display: block
    }

    #menu-cv li {
        font-family: 'Bebas Neue', cursive;
        font-size: 1.4rem
    }

    #submenu-cv li {
        text-align: right;
        color: black;
        border-bottom: 1px solid gray !important
    }

    #submenu-cv li:last-child {
        border-bottom: 0 !important
    }

    #accepto {
        display: inline
    }
}

@media only screen and (max-width:319px) {
    #idiomes {
        display: none
    }

    body {
        font-size: calc(100vw/24)
    }

    h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: calc(100vw/6)
    }

    section,
    section>* {
        padding: .25rem;
        margin: 0
    }

    #top {
        position: relative;
        display: block;
        height: auto;
        margin: 0;
        padding: 0;
        text-align: center
    }

    #logo img {
        position: relative;
        top: 0
    }

    main {
        padding-top: 0;
        padding: 0
    }

    #hero {
        background: none;
        height: 10vh
    }

    #hero::before {
        background: none
    }

    #wrapp>header h1 {
        color: #000;
        padding: 1rem .25rem;
        margin-top: 5rem
    }

    .ilus {
        width: 85vw
    }

    article {
        margin-bottom: 1rem
    }
}
