@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

:root {
    --color1: #000;
    --htop: 50px;
    --fs: calc(100vw/10);
    --fsxl: calc(100vw/20);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    min-height: 100%;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}

body,
figure {
    padding: 0;
    margin: 0;
}

p {
    margin-top: 0;
    padding-top: 0;
}

#formacio ul,
#competencies-digitals ul {
    padding-left: .1rem;
    list-style: none;
}

#formacio ul li,
#competencies-digitals ul li {
    padding: .25rem 0;
    list-style: none;
}

#formacio ul li::before,
#competencies-digitals ul li::before
{
content:"- ";
text-indent: -5px;
}



a {
    color: var(--color1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body::-webkit-scrollbar {
    background-color: #00000099;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffff0099;
}

body::-webkit-scrollbar-track {
    background-color: #00000033;
}

#wrapp {
    max-width: 100%;
}

#cv #formacio ul {
    list-style: none;
}

#menu-cv {
    padding: 0 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    text-align: center;
    z-index: 100;
}

#menu-cv ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu-cv ul li {
    display: block;
    border-bottom: 1px solid black;
}

#menu-cv ul li:last-child {
    border-bottom: 0
}

#menu-cv ul li a {
    display: block;
    padding: .5rem 1rem;
}

main {
    position: relative;
    margin: 0;
}

h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: calc(100vw/12);
    line-height: calc(100vw/12);
}

.sel {
    font-weight: bold;
}

.dark {
    background: #333;
    color: white;
}

.mid-dark {
    background: #ccc;
}

.mid-light {
    background: #eaeaea;
}

.mb2rem {
    margin-bottom: 2rem;
}

.mb4rem {
    margin-bottom: 4rem;
}

.mb8rem {
    margin-bottom: 8rem;
}

.fs_tresquarts {
    font-size: 1.4rem
}

#tagname::after {
    content: "# D E S I G N V E L O V E R ";
    letter-spacing: .14rem;
}

#wrapp {
    min-height: calc(100vh);
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#top {
    background: var(--color1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem 2rem .5rem 2rem;
    text-transform: uppercase;
}

#logo {
    margin: 0;
    padding: 0;
    display: inline-flex;
}

#logo img {
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    height: calc(1.5*var(--htop));
    position: relative
}

#logotipus {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
    padding: 0 1rem;
    position: relative;
    top: .25rem;
}

#top nav {
    margin-left: auto;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline;
}

nav ul li a {
    color: #fff;
}

#hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hero::before {
    background: linear-gradient(#ff000033, #00000033, #00ff0033);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    z-index: 3;
}

#hero h1 {
    z-index: 5;
}

.hero-porfoli {
    color: white;
    position: relative;
    /* background-size: cover;
    background-repeat: none !important;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; */
}

.hero-cv {
    align-content: flex-start;
    background: #000;
    color: whitesmoke;
}

main>section header {
    text-align: center;
}

.intrawrap {
    max-width: 960px;
    width: 100vw;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.ilus {
    width: 100%;
}

.rodo {
    border-radius: 50%;
}

#projectes {
    padding: 4rem 0 8rem 0;
    background: linear-gradient(#ffffffff, #ffffffcc, #ffffffff), url("../img/fons1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#projectes article {
    border: 1rem solid #eee4;
    background: #eee;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
}

#projectes article *:last-child {
    margin: auto auto 1rem auto;
}

#projectes figure {
    height: 160px;
    margin-bottom: 1rem
}

#projectes .ilus {
    visibility: hidden;
}

#projectes article:nth-child(1) figure {
    background: url("../img/a1.png");
    background-size: cover;
}

#projectes article:nth-child(1) figure::before {
    content: "SCI-FI";
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: flex-end;
    font-family: "Bebas Neue", Arial, sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: bold;
    color: #ff39;
    background: #C0f6;
    mix-blend-mode: luminosity;
}

#projectes article:nth-child(2) figure {
    background: url("../img/2.png");
    background-size: cover;
}

#projectes article:nth-child(2) figure::before {
    content: "PERSPECTIVES";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    font-family: "Bebas Neue", Arial, sans-serif;
    ;
    font-size: 3rem;
    font-weight: bold;
    color: #fff6;
    background: #03;
}

#projectes article:nth-child(3) figure {
    background: url("../img/4.png");
    background-size: cover;
}

#projectes article:nth-child(3) figure::before {
    content: "NAÃF";
    display: flex;
    height: 100%;
    text-align: center;
    font-family: "Bebas Neue", Arial, sans-serif;
    ;
    font-size: 3rem;
    font-weight: bold;
    color: #ff06;
    background: #3c96;
    mix-blend-mode: luminosity;
}

#projectes p {
    padding: 0 1.5rem;
}

#experiencia article {
    display: flex;
    justify-content: center;
}

#experiencia .flexXL article img {
    max-width: 50%;
}

#aficions .flexXL {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

#aficions .flexXL article {
    background: #ccc;
    padding: 1rem;
    flex-basis: calc(100%/3.4);
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#idiomes {
    margin-bottom: 0;
}

#idiomes table {
    border: 1px solid #333;
    border-collapse: collapse;
    max-width: 90vw
}

#idiomes table td,
#idiomes table th {
    padding: .5rem;
    margin: 0;
    border: 1px solid #333;
    text-align: center;
}

#nom,
#email,
#areatext {
    width: 100%;
    padding: 1rem;
    font-family: "Roboto Slab", serif;
    font-size: 1.2rem;
    background: #fafafa;
    border: 1px solid #333;
    border-radius: 1rem padding;
}

#parlem label {
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: .5rem;
}

#parlem div:last-child {
    text-align: center;
}

#parlem div {
    margin-bottom: 1rem;
}

#wrapp>footer {
    background: #000;
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    height: var(--htop-);
}

#wrapp>footer img {
    height: 30px;
}
